body {
	font-family: 'Gotham Medium';
	background-image: url('image/loginback.jpg');
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.form{
	background: rgba(0, 0, 0, 0.5);
width: 40%;
margin: 0 auto;
font-size:18px;
}
.form2{
	background: rgba(0, 0, 0, 0.5);
	width:37%;
	margin:0 auto;
	font-size:18px;
}
#name,#phone,#email{
	width:291px;
	box-shadow: inset 0 0 5px green;
}
#password{
	width:291px;
	box-shadow: inset 0 0 5px green;
}
.button1{
	background-color: transparent !important;

border: 2px solid white !important;

margin: 0 9rem;

width: 200px;
}
.text1{
	margin-left:140px;
}
.text2{
	margin-left: 3.5rem;
}
.text3{
	font-size:14px;
	
}
.button2{
	border:2px solid white !important;
	height:37px;
	margin: 0px 30px;
}
.button1:hover{
	background-color:blue !important;
}
.button3{
	margin-left:3rem;
	background-color:transparent !important;
	border:1px solid white !important;
	margin: 0px 3rem;
	width: 200px;
}
.button3:hover{
	background-color:blue !important;
}
.back{
	width:100%;
	
}
/* #name{
    
}
#link1 {
	color: white;
	font-size: 25px;
}

.icon-bar {
	background: white;
}

 li {
	margin-left: 80px;
} 

.link2 {
	color: white;
}

.dec2 {
	float: right;
	margin-left: 120px;
	font-size: 20px;
}

.form1 {
	background: black;
	opacity: 0.5;
	text-align: center;
	color: white;
	height: auto;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	text-align: center;
	margin-top: 0px;
	display: inline-block;
	padding-top: 30px;
}

.input1 {
	height: 30px;
	width: 90%;
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
	color: black;
}

.label1 {
	float: left;
	margin-left: 20px;
	font-weight: bold;
	font-size: 20px;
}

#submission {
	background: blue;
	padding: 5px;
	color: white;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}

#submission:hover {
	background: black;
	color: red;
	cursor: pointer;
}

/* p {
	color: white;
	float: left;
	text-align: center;
	padding-left: 30%;
	padding-top: 3%;
	font-weight: bold;
	font-size: 13px;
} 

.btn7 {
	margin-top: 10%;
	color: white;
	background: transparent;
	border: 2px solid white;
	border-radius: 15px;
}

#dec5 {
	margin-top: 3%;
}

.btn10 {
	margin-top: 2px;
	width: 61%;
	margin-bottom: 8px;
} */